<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">Dating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <app-burger-icon></app-burger-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="isLogin">
          <li class="nav-item">
            <a
              class="nav-link user"
              routerLink="/home"
              routerLinkActive="active"
              >Welcome {{ currentUsername }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active"
              >Matches</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"
              >Messages</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/member/edit"
              routerLinkActive="active"
              >Edit Profile</a
            >
          </li>
        </ng-container>
      </ul>
      <form class="d-flex" [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <input
          *ngIf="!isLogin"
          class="form-control me-2"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <input
          *ngIf="!isLogin"
          class="form-control me-2"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <button class="btn btn-outline-success" type="submit">
          {{ isLogin ? "logout" : "login" }}
        </button>
      </form>
    </div>
  </div>
</nav>
